<template id="com.cuppa.fileManager.NewFolderModal" >
    <style>body{ overflow: hidden !important; }</style>
    <div class="blockade cover-fixed p-x-20 p-y-20 o-auto ani-fade" style="z-index: 2">
        <div class="c-a-1">
            <div class="c-a-2">
                <div class="modal m-w-500" >
                    <!-- Header -->
                    <div class="header flex flex-justify-between flex-align-center z-index-1" >
                        <h1 class="t-22 p-l-20">New Folder</h1>
                        <div id="btnClose" class="buttonIcon min-height-50 min-width-50" style="border-radius: 0;">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <!-- -->
                    <!-- content -->
                    <div class="flex-grow bg2 p-x-20 p-y-20" >
                        <input id="txtName" class="input1" >
                        <div class="t-right m-t-10">
                            <button id="btnCancel" class="button1 type2 m-r-5">Cancel</button>
                            <button id="btnCreate" class="button1">Create</button>
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    (function() {
        class NewFolderModal extends HTMLElement {

            constructor() {
                super(); cuppa.componentAdjust(this,'com.cuppa.fileManager.NewFolderModal');
                cuppa.on([this.btnClose, this.btnCancel], "click", this.close);
                cuppa.on(this.btnCreate, "click", this.create);
            }

            async create(){
                let folder = cuppa.trim(this.txtName.value);
                if(!folder) return;
                let data = {name:cuppa.getDataSync(PATH_CU_FM).path+"/"+folder};
                let result = await fileManager.fetch("createFolder", data);
                if(!result){ alert("folder already exixt"); return; }
                fileManager.reload();
                this.close();
            }

            close(){
                cuppa.remove(this);
            }
        }
        customElements.define('newfolder-modal', NewFolderModal);
    })();
</script>