<template id="com.cuppa.fileManager.PreviewModal" >
    <style>body{ overflow: hidden !important; }</style>
    <div class="blockade cover-fixed ani-fade" style="z-index: 2">
        <div class="modal m-x-40 m-y-40 absolute cover flex flex-column o-hidden m-l-10-s750 m-r-10-s750 m-t-10-s750 m-b-10-s750" >
            <!-- Header -->
            <div class="header flex flex-justify-between flex-align-center z-index-1" >
                <h1 class="t-22 p-l-20">Preview</h1>
                <div id="btnClose" class="buttonIcon min-height-50 min-width-50" style="border-radius: 0;">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- -->
            <!-- content -->
            <div class="flex-grow bg2" >
                <div id="imgPreview" class="cover" style="background: url('media/images/pixels.png') repeat;" >
                    <div id="image" class="cover bg-containt"></div>
                </div>
                <iframe id="pdfPreview" src="" class="cover m-w-9999" style="height: 100%"></iframe>
                <div  id="noPreview" class="noPreview cover flex flex-align-center flex-justify-center flex-column">
                    <img src="media/images/preview.svg" width="60px"/>
                    <p class="p-t-10 t-20">No preview available</p>
                    <div class="p-t-10">
                        <a id="btnDownload" class="button1" title="Download">
                            <i class="far fa-arrow-alt-circle-down m-r-5 t-16"></i> <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- -->
        </div>
    </div>
</template>
<script>
    (function() {
        class PreviewModal extends HTMLElement {

            constructor() {
                super(); cuppa.componentAdjust(this,'com.cuppa.fileManager.PreviewModal');
                cuppa.on([this.btnClose, this.btnCancel], "click", this.close);
                cuppa.on(window, "resize", this.resize, "previewModal");
                cuppa.on(this.btnDownload, "click", this.download);
            }

            setData(data){
                cuppa.css([this.noPreview, this.pdfPreview, this.imgPreview],{display:"none"});
                this.data = data;
                if(this.data.type2 === "image"){
                    cuppa.css(this.imgPreview,{display:"block"});
                    this.image.style.backgroundImage = `url('${this.data.url}')`;
                    setTimeout(this.resize, 0.2);
                    this.resize();
                }else if(this.data.ext.toString().toLowerCase() == "pdf"){
                    cuppa.css(this.pdfPreview,{display:"block"});
                    cuppa.attr(this.pdfPreview, "src",this.data.url);
                }else{
                    cuppa.css(this.noPreview,{display:"flex"});
                }
            }

            download(e){
                cuppa.attr(this.btnDownload, "download", this.data.file);
                cuppa.attr(this.btnDownload, "href", this.data.url);
            }

            resize(){
                if(this.data.type2 == "image"){
                    let dim = cuppa.dim(this.image);
                    if(dim.width > this.data.dimensions.width && dim.height > this.data.dimensions.height){
                        this.image.style.backgroundSize = "auto";
                    }else{
                        this.image.style.backgroundSize = "contain";
                    }
                }
            }

            close(){
                cuppa.remove(this);
            }

            disconnectedCallback(){
                cuppa.offGroup("previewModal");
            }
        }
        customElements.define('preview-modal', PreviewModal);
    })();
</script>